services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=masters
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=boceyim123
      - DEBUG=True
      - SECRET_KEY=django-insecure-$wdv-fm+g68_^r+fi&z42g$%$@gkdqek)^c8&hqh&ox$^8o1+n
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    command: >
        sh -c "python wait_for_db.py &&
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000"


  celery:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=masters
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=boceyim123
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    command: celery -A masters worker --loglevel=info

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=boceyim123
      - POSTGRES_DB=masters
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres_data:
